html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
img{
    max-width: 100%;
}
p {
    font-size: 16px;
    line-height: 2;
}
.boton{
    padding: 10px 30px;
    background:#00BBE4;
    display: inline-block;
    margin-top:10px ;
    color:#ffffff ;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: background-color .3s ease-in-out;
}
.boton:hover{
    background-color: red;
}
.site-header{
    padding: 20px 0;
    margin-top: 40px;

}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
.clearfix::after{
    content: '' ;
    clear: both;
    display: block;
}
/**Navegacion*/
.barra{
    background-color: #DB008D;
}
.navegacion-principal a{
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: center;
    padding: 20px;
}
@media (min-width: 768px ){
    .navegacion-principal a{
        margin-right: 20px;
        display: inline-block;
    }
}
.navegacion-principal a:hover{
    background-color: #00BBE4 ;
}

/**Contenedores Principales*/
.contenido-principal{
    margin-top: 40px;
}
.contenido-principal,.sidebar{
    padding: 20px;


}
@media (min-width: 768px){
    .contenido-principal{
        width: 70%;
        float: left;
        padding: 0 60px 0 0;
    }
    
    .sidebar{
        width: 30%;
        float: right;
        padding: 0px;
        margin-top: 60px;
    }
}

h2{
    color:#00BBE4 ;
    margin-bottom: 20px;
}
.entrada{
    margin-top: 30px;
    margin-bottom: 60px;
}

@media (min-width: 480px){
    .entrada img{
        float: left;
        width: 300px;
        margin: 0 30px 0 0 ;
    }
}
.entrada p{
    text-align: justify;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar ul li{
    padding: 10px;
}
.sidebar ul li:hover{
    background-color: #00BBE4;
    }
.sidebar ul li a{
    color: #00BBE4;
    font-size: 18px;
    text-decoration: none;
}

.sidebar ul li:hover a{
    color: #ffffff;
}
.entrada:last-child{ 
    margin-bottom: 10px ;
}


.footer-sitio{
    background-color:#DB008D ;
    padding-top: 40px;
    margin-top: 40px;
    color: #ffffff;
    text-align: center;
}
.footer-sitio h2{
    color: #ffffff;
}
.footer-sitio a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}
@media (min-width: 768px){
    .footer-sitio .nosotros{
        float: left;
        width: 30%;
    }
    .footer-sitio .menu{
        float: right;
        width: 50%;
        text-align: right;
    }
}
.capyright{
    background-color: #b10474;
    margin: 50px 0 0 0;
    padding: 20px;
}